.conteudo {
    max-width: 1000px;
    margin: 160px auto;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.conteudo h2,
.conteudo p {
    margin-bottom: 20px;
    line-height: 1.35;
}