.header-bg{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid #00a8e8;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
}

.js-menu {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#btn-mobile {
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-menu li a {
    position: relative;
}

.header-menu li a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background-color: #111111;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
    right: 0;
}

.header-menu li a:hover::after{
    width: 100%;
    left: 0;
}

.header-menu li a.ativado::after {
    width: 100%;
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: bold;
    color: #393e41;
}

.logo span {
    color: #00a8e8;
}

@media (max-width: 750px) {
    .js-menu {
        display: flex;
        gap: 0rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        text-align: center;
        transition: .4s;
        z-index: 1000;
        height: 0px;
        background-color: #111111;
        visibility: hidden;
        overflow-y: hidden;
    }

    .header-menu a {
        display: block;
        padding: 10px 0px;
        margin: 0px 50px;
        color: #ffffff;
    }

    .ativaMenu .header-menu{
        height: calc(40vh);
        visibility: visible;
        overflow-y: auto;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        color: #000;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, 
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    nav.ativaMenu #hamburguer {
        border-top-color: transparent;
    }

    nav.ativaMenu #hamburguer::before {
        transform: rotate(135deg);
    }

    nav.ativaMenu #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}