/* .introducao-bg{
    background-color: #f0f0f0;
} */

.introducao {
    display: flex;
    gap: 40px;
    max-width: 950px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 120px 0 20px 0;
}

.intro-texto a {
    font-weight: 600;
    display: block;
    font-size: .825rem;
}

.intro-texto h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 20px;
}

.intro-texto p {
    margin-bottom: 20px;
    line-height: 1.25;
}


@media(max-width: 1000px){
    .introducao img{
        display: none;
    }

    .intro-texto {
        text-align: center;
    }

    .intro-texto h1 {
        font-size: 2rem;
    }

    .intro-texto .btn-padrao {
        margin: 0 auto;
    }
}