.lista-bg {
    background-color: #bde0fe;
    padding: 30px;
}

.lista {
    max-width: 1000px;
}

.lista h2{
    text-align: center;
    margin-bottom: 60px;
}

.lista-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.lista-content li {
    display: flex;
    flex-wrap: wrap;
}

.lista-content li h3 {
    margin-bottom: 10px;
    position: relative;
}

.lista-content li h3::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url('../../img/Icones/avanco-rapido.png') no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
}

.lista-content li p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.5;
    color: #383838;
}

.lista-content li a {
    text-decoration: underline;
    position: relative;
}

.lista-content li a::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url('../../img/Icones/seta-direita-de-linha-reta-fina.png') no-repeat center;
    position: absolute;
    right: -25px;
    top: 4px;
}