.lista-bg {
    background-color: #bde0fe;
    padding: 30px;
}

.lista {
    max-width: 1000px;
}

.lista h2{
    text-align: center;
    margin-bottom: 60px;
}

/* .lista ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
} */

.lista-content {
    display: flex;
    justify-content: center;

}

.lista-content li {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}